In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os
import json
import ipywidgets as widgets
from IPython.display import display
import plotly.express as px


def load_credentials(path = "aws_rds_credentials.json"):
     with open(path, 'r') as file:
          config = json.load(file)

     # set up credentials
     for key in config.keys():
          os.environ[key] = config[key]

     return


load_credentials()

aws_rds_url = f"postgresql://{os.environ['user']}:{os.environ['password']}@{os.environ['host']}:{os.environ['port']}/{os.environ['database']}?sslmode=require"

# Load a sample dataset
def load_data():
    engine = create_engine(aws_rds_url)
    sql_query = f"""SELECT 
    table_schema, 
    table_name, 
    column_name, 
    data_type, 
    is_nullable, 
    column_default
FROM 
    information_schema.columns
WHERE 
    table_schema NOT IN ('information_schema', 'pg_catalog')
ORDER BY 
    table_schema, 
    table_name, 
    ordinal_position;
                    """
    df = pd.read_sql(sql_query, engine)
    return (df)

data = load_data()
data

    table_schema     table_name     column_name          data_type is_nullable column_default
0     dbt_msilva       city_dim            city  character varying         YES           None
1     dbt_msilva       city_dim      country_id            integer         YES           None
2     dbt_msilva       city_dim         city_id            integer         YES           None
3     dbt_msilva      color_dim        color_id            integer         YES           None
4     dbt_msilva      color_dim     color_title  character varying         YES           None
..           ...            ...             ...                ...         ...            ...
173       public  users_staging      country_id            integer         YES           None
174       public  users_staging   country_title  character varying         YES           None
175       public  users_staging     profile_url  character varying         YES           None
176       public  users_staging            date               date          NO           None
177       public  users_staging  feedback_count            integer         YES           None

[178 rows x 6 columns]